<div class='container row'>
<h1>Welcome to Idea Box</h1>

<h3>Add an idea</h3>

<form>
  Title:<br>
  <input type='text' id='title' name='title'><br><br>
  Body:<br>
  <textarea rows='4' id='body' cols='50'></textarea><br><br>
  <button class='save-btn' type='button'>Save</button>
</form>

<h2>Your Ideas</h2>
<div class='idea-list'></div>

</div>
